apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: api
  ports:  
  - protocol: TCP
    port: 80
    targetPort: 8080
  type: NodePort
## vai pegar a porta do pod que é 8080 mencionada no targetPort e atribuir para 80 mencionado no port
## Protocolo TCP é o padrão